<main class="mt-5">
  <div class="container">

    <h1 class="text-center mb-3">Complete Your Scholarship Application</h1>

    <%= render 'form', scholarship: @scholarship %>

  </div> <!-- container -->
</main>
