<main class="mt-5">
  <div class="container">

    <% if current_user && @scholarship.user && @scholarship.status == "Returned for Modifications" %>

      <h1 class="text-center mb-3">Complete Your Scholarship Application</h1>

  </div> <!-- container -->
  <section class="my-4">
    <div class="bg-toca-red mb-3 px-5 py-3">
      <div class="container">
        <h2 class="color-white toca-uppercase">Requested Modifications</h2>
      </div> <!-- container -->
    </div> <!-- red stripe -->

    <div class="container">
      <% @votes.each do |v| %>
        <p><strong><%= v.modification %></strong></p>
        <% if v.suggest_loan %><p><strong>Loan Suggested:  </strong><%= v.describe_loan %><% end %>
      <% end %>
    </div> <!-- container -->
  </section>

  <div class="bg-toca-red mb-3 px-5 py-3">
    <div class="container">
      <h2 class="color-white toca-uppercase">Edit Application</h2>
    </div> <!-- container -->
  </div> <!-- red stripe -->

  <div class="container">

      <%= render 'form', scholarship: @scholarship %>

    <% else %> <!-- if not modified... -->

      <h1 class="text-center mb-3">Complete Your Scholarship Application</h1>

      <%= render 'form', scholarship: @scholarship %>

    <% end %>

  </div> <!-- container -->
</main>
