<main class="mt-5">
  <div class="container">

    <h1 class="text-center mb-4">Suggest a Modification</h1>

    <%= render 'form', modification: @modification %>

  </div> <!-- container -->
</main>
