<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <hr style="border: 0; border-top: solid 2px #EB0029;" />
    <h1 style="text-align: center">Create a TOCA Cares Account</h1>
    <hr style="border: 0; border-top: solid 2px #EB0029; margin-bottom: 25px" />
    <p>
      Dear Employee,
    </p>
    <p>
      TOCA Cares is a community fund sustained by the tax-deductible contributions voluntarily made by TOCA employees and shareholders.  It's a way TOCA takes care of our own, and can help employees get out of an unexpected financial jam, keep learning or educating themselves, or even participate in charity work of their own.
    </p>
    <p>
      You have been invited to <%= link_to "create an account", new_user_registration_url, style: "color: #EB0029; font-weight: 700; text-decoration: none" %> using this email address to set up your account.  Please create your account as soon as you can, as there may be time-sensitive things waiting for you.
    </p>
    <p>
      If you have any issues, feel free to email us at <a href="mailto:admin@tocacares.com" style="color: #EB0029; font-weight: 700; text-decoration: none">admin@tocacares.com</a>.
    </p>
    <hr style="border: 0; border-top: solid 2px #EB0029; margin-top: 25px" />
    <img src="https://tocacares.s3-us-west-1.amazonaws.com/TOCA_CARES_LOGO_FNL.png" style="width: 300px; display: block; margin-right: auto; margin-left: auto">
    <hr style="border: 0; border-top: solid 2px #EB0029;" />
  </body>

</html>
