<main class="mt-5">
  <div class="container">

    <h1 class="text-center">Users</h1>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="black white-text">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.last_name %>, <%= user.first_name %></td>
              <td><%= user.email %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div> <!-- responsive table -->

  </div> <!-- container -->
</main>
