<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <hr style="border: 0; border-top: solid 2px #EB0029;" />
    <h1 style="text-align: center">A TOCA Cares Hardship Application Submitted on Your Behalf Has Been Accepted</h1>
    <hr style="border: 0; border-top: solid 2px #EB0029; margin-bottom: 25px" />
    <p>
      Dear Employee,
    </p>
    <p>
      As you may or may not be aware, another employee has submitted a TOCA Cares hardship application on your behalf. We are delighted to inform you that the hardship application has been approved! TOCA Cares is about assisting valuable employees like you, so we hope you accept our humble offer to help through our completely confidential process.
    </p>
    <p>
      You have been awarded a grant for <strong><%= number_to_currency(@hardship.requested_amount, unit: "$") %></strong> for the following hardship:
      <br><em><%= @hardship.hardship_description %></em>
    </p>
    <p>
      If you haven't already done so, you can <%= link_to "create a TOCA Cares account", new_user_registration_path, style: "color: #EB0029; font-weight: 700; text-decoration: none" %> using your TOCA email address.
      Once you have created your account, you can <%= link_to "view your application here", hardship_path(@application), style: "color: #EB0029; font-weight: 700; text-decoration: none" %>.
      Should you feel the need to alter the application or contact someone at TOCA Cares, please <a href="mailto:admin@tocacares.com" style="color: #EB0029; font-weight: 700; text-decoration: none">click here</a>.
    </p>
    <p>
      You will soon be contacted by our partnering organization, Helping Hands, who will reach out to you and request additional information about your financial situation to verify you receive the appropriate amount from TOCA Cares. Once verified, Helping Hands will pay your bill directly in a confidential and secure process. Please keep in mind that your response time to Helping Hands’ inquiries will determine the speed of the process. TOCA is glad you’re part of the family.
    </p>
    <p>
      Sincerely,
      <br>TOCA Cares
    </p>
    <p>
      If you have any issues, feel free to email us at <a href="mailto:admin@tocacares.com" style="color: #EB0029; font-weight: 700; text-decoration: none">admin@tocacares.com</a>.
    </p>
    <hr style="border: 0; border-top: solid 2px #EB0029; margin-top: 25px" />
    <img src="https://tocacares.s3-us-west-1.amazonaws.com/TOCA_CARES_LOGO_FNL.png" style="width: 300px; display: block; margin-right: auto; margin-left: auto">
    <hr style="border: 0; border-top: solid 2px #EB0029;" />
  </body>

</html>
