<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <hr style="border: 0; border-top: solid 2px #EB0029;" />
    <h1 style="text-align: center">The TOCA Cares Hardship Application You Submitted for <%= @application.full_name %> Needs Modifications</h1>
    <hr style="border: 0; border-top: solid 2px #EB0029; margin-bottom: 25px" />
    <p>
      Dear Teammate,
    </p>
    <p>
      Thank you for the application you submitted on the behalf of <%= @application.full_name %>. After careful consideration, it has been decided that one or more details of tje application need adjustment. We recognize the genuine need and we will communicate directly with <%= @application.full_name %> so they can reapply with the suggested changes in mind.
    </p>
    <p>
      We hope you take advantage of this opportunity, and we look forward to assisting our valuable teammates.
    </p>
    <p>
      Sincerely,
      <br>TOCA Cares
    </p>
    <p>
      If you have any issues, feel free to email us at <a href="mailto:support@tocacares.com" style="color: #EB0029; font-weight: 700; text-decoration: none">support@tocacares.com</a>.
    </p>
    <hr style="border: 0; border-top: solid 2px #EB0029; margin-top: 25px" />
    <img src="https://tocacares.s3-us-west-1.amazonaws.com/TOCA_CARES_LOGO_FNL.png" style="width: 300px; display: block; margin-right: auto; margin-left: auto">
    <hr style="border: 0; border-top: solid 2px #EB0029;" />
  </body>

</html>
