<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <hr style="border: 0; border-top: solid 2px #EB0029;" />
    <h1 style="text-align: center">The TOCA Cares Hardship Application You Submitted for <%= @application.full_name %> Has Been Accepted</h1>
    <hr style="border: 0; border-top: solid 2px #EB0029; margin-bottom: 25px" />
    <p>
      Dear Employee,
    </p>
    <p>
      We are delighted to inform you that the hardship application you submitted to TOCA Cares on the behalf of <%= @application.full_name %> has been approved!
    </p>
    <p>
      The application will now be transferred to <%= @application.full_name %>, who will be contacted by our partnering organization, Helping Hands, who will reach out to them and request additional information about their financial situation to verify they receive the appropriate amount from TOCA Cares. Once verified, Helping Hands will pay the bill directly in a confidential and secure process. Thank you for taking notice of your coworker's situation!  TOCA Cares is glad we can help our valued employees.
    </p>
    <p>
      Sincerely,
      <br>TOCA Cares
    </p>
    <p>
      If you have any issues, feel free to email us at <a href="mailto:support@tocacares.com" style="color: #EB0029; font-weight: 700; text-decoration: none">support@tocacares.com</a>.
    </p>
    <hr style="border: 0; border-top: solid 2px #EB0029; margin-top: 25px" />
    <img src="https://tocacares.s3-us-west-1.amazonaws.com/TOCA_CARES_LOGO_FNL.png" style="width: 300px; display: block; margin-right: auto; margin-left: auto">
    <hr style="border: 0; border-top: solid 2px #EB0029;" />
  </body>

</html>
