<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <hr style="border: 0; border-top: solid 2px #EB0029;" />
    <h1 style="text-align: center">A TOCA Cares Hardship Application Submitted on Your Behalf Has Been Added to Your Account</h1>
    <hr style="border: 0; border-top: solid 2px #EB0029; margin-bottom: 25px" />
    <p>
      Dear <%= @application.full_name %>,
    </p>
    <p>
      As you may or may not be aware, another employee has submitted a TOCA Cares hardship application on your behalf.
    </p>
    <p>
      Ownership of this application has now been added to your account.  The employee who submitted this application on your behalf will be notified as to the eventual outcome, but from now on you are the only one who will be able to view it and all communications regarding this application will go to you alone (using the email address <%= mail_to @application.email_non_toca, @application.email_non_toca, style: "color: #EB0029; font-weight: 700; text-decoration: none" %>).
      You can now view this application <%= link_to "here", hardship_url(@application), style: "color: #EB0029; font-weight: 700; text-decoration: none" %>.
    </p>
    <p>
      <strong>Important Note:</strong>  If <%= mail_to @application.email_non_toca, @application.email_non_toca, style: "color: #EB0029; font-weight: 700; text-decoration: none" %> is not your correct non-TOCA email please email an admin at email us at <a href="mailto:support@tocacares.com" style="color: #EB0029; font-weight: 700; text-decoration: none">support@tocacares.com</a> immediately to make sure you haven't missed any important communications.
    </p>
    <p>
      Sincerely,
      <br>TOCA Cares
    </p>
    <p>
      If you have any issues, feel free to email us at <a href="mailto:support@tocacares.com" style="color: #EB0029; font-weight: 700; text-decoration: none">support@tocacares.com</a>.
    </p>
    <hr style="border: 0; border-top: solid 2px #EB0029; margin-top: 25px" />
    <img src="https://tocacares.s3-us-west-1.amazonaws.com/TOCA_CARES_LOGO_FNL.png" style="width: 300px; display: block; margin-right: auto; margin-left: auto">
    <hr style="border: 0; border-top: solid 2px #EB0029;" />
  </body>

</html>
