<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <hr style="border: 0; border-top: solid 2px #EB0029;" />
    <h1 style="text-align: center">Your TOCA Cares Hardship Application Has Been Denied</h1>
    <hr style="border: 0; border-top: solid 2px #EB0029; margin-bottom: 25px" />
    <p>
      Dear <%= @application.full_name %>,
    </p>
    <p>
      After careful consideration, we regret to inform you that we are not able to financially assist you in your requested situation.
    </p>
    <p>
      The Decision Committee thoroughly reviewed your application and has determined, based on the TOCA Cares Corporate Assistance guidelines, that your situation does not meet one or more of the qualifications for aid. Because this is a community fund, the Decision Committee is tasked with the difficult responsibility of making sure the fund is only used in authorized situations.
    </p>
    <p>
      Additionally, since contributors to the fund receive tax benefits, the Decision Committee must follow specific legal regulations, which can hinder what qualifies and what does not. There are a number of reasons your situation may not be eligible; some examples may include, overuse of fund previously, not enough time between fund applications, misunderstanding of the fund, lack of demonstrated need, lack of relative hardship compared to other applications, etc.
    </p>
    <% vote = Vote.where(application_type: @application.application_type, application_id: @application.id, seconded: true).first %>
    <p>
      Your specific appliation was denied because:
      <ul>
        <% if vote.denial_fund_overuse %>
          <li>You seem to be overusing the fund.</li>
        <% end %>
        <% if vote.denial_not_qualify %>
          <li>The situation described didn't fit our definition of a hardship.</li>
        <% end %>
        <% if vote.denial_unreasonable_request %>
          <li>The request didn't seem reasonable.</li>
        <% end %>
        <% if vote.denial_fund_overuse %>
          <li><% vote.denial_other_description %></li>
        <% end %>
      </ul>
    </p>
    <p>
      For clarity on your decision, feel free to refer to the <%= link_to "info page", page_url(:info), style: "color: #EB0029; font-weight: 700; text-decoration: none" %> on the TOCA Cares website for more information on what qualifies as a hardship.
    </p>
    <p>
      We understand this decision may be frustrating.  However, we are confident that you can overcome this without the help of the fund. We take all applications seriously, and we encourage you to apply again for other hardships in the future. You are a valued part of the TOCA family.
    </p>
    <p>
      Sincerely,
      <br>TOCA Cares
    </p>
    <p>
      If you have any issues, feel free to email us at <a href="mailto:admin@tocacares.com" style="color: #EB0029; font-weight: 700; text-decoration: none">admin@tocacares.com</a>.
    </p>
    <hr style="border: 0; border-top: solid 2px #EB0029; margin-top: 25px" />
    <img src="https://tocacares.s3-us-west-1.amazonaws.com/TOCA_CARES_LOGO_FNL.png" style="width: 300px; display: block; margin-right: auto; margin-left: auto">
    <hr style="border: 0; border-top: solid 2px #EB0029;" />
  </body>

</html>
