<main class="mt-5">
  <div class="container">

    <h1 class="text-center">FAQ</h1>

    <section class="team-section magazine-section text-center">
      <p class="dark-color-dark-grey w-responsive mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
        eum porro a pariatur veniam.</p>

      <div class="text-center">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="Sample image">
      </div> <!-- Image Grid column -->

    </section>

    <section class="my-5"> <!-- Features Section 1 -->

      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q1H">What is the TOCA Cares fund?</h5>
          <p class="color-dark-grey d-startHidden" id ="Q1P">
            TOCA Cares is an employee assistance program. Employees and shareholders will be able to make tax-deductible contributions to the TOCA Cares community fund. If an employee is facing an unexpected hardship, they can apply for a grant or loan. Those who do not draw from the fund for an unexpected hardship will have the opportunity to sponsor a charity of choice.
          </p>
        </div> <!-- Grid column -->
      </div> <!-- Grid row -->


      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q2H">Why was the TOCA Cares fund created?</h5>
          <p class="color-dark-grey" id ="Q2P">
            Here at TOCA, community is important. Our employees are what make TOCA great, so we want to make sure they’re supported when they find themselves in a serious financial hardship—because life happens. For those who may not find themselves in those situations, we wanted to create a platform for them to cultivate their passions and get involved in their surrounding communities through charitable giving.
          </p>
        </div> <!-- Grid column -->
      </div> <!-- Grid row -->


      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q3H">How do I donate to the fund? </h5>
          <p class="color-dark-grey mb-0" id ="Q3P">
            Each paycheck, you will have an option to donate an amount of your choice to the community fund. We hope every employee takes advantage of this, so the fund can be truly operational. <em>In order to make the fund accessible to everyone, all TOCA employees will automatically have a minimum of $5/month deducted from their paycheck.</em> Donations will be tax-deductible (if itemized).
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->


      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q4H">Shareholders will match my contribution and then some?</h5>
          <p class="color-dark-grey mb-0" id ="Q4P">
            Yes! Shareholders will match your contribution and donate to the community fund. Depending on the year, shareholders may select to match anywhere from 2:1 to 6:1! View __ to see what this year’s match is.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->


      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q5H">How do I apply to use the fund?</h5>
          <p class="color-dark-grey mb-0" id ="Q5P">
            Log on to <%= link_to "TOCA Cares", new_user_session_path %> and fill out the <%= link_to "application", page_path(:apply) %>. Your application will then be sent to the Decision Committee for review. If accepted, you will be contacted by our partner organization, Helping Hands, to help with your financial situation.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->



      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q6H">Is the application anonymous?</h5>
          <p class="color-dark-grey mb-0" id ="Q6P">
            Your application is anonymous to everyone except the head of the Decision Committee and our partner organization, Helping Hands (both of whom are under confidentiality agreements).
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->



      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q7H">Do I have to contribute to the fund to be able to use it?</h5>
          <p class="color-dark-grey mb-0" id ="Q7P">
            Because this is a community fund and we want the fund to be accessible to everyone, all TOCA Employees are expected to contribute minimum amount of $5/month, which will be automatically deducted from your paycheck. But in order to make the community fund truly operational, it’s critical that employees donate more.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->


      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-green"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q8H">Can I pull money from the fund if I don’t use it?</h5>
          <p class="color-dark-grey mb-0" id ="Q8P">
            All donations are tax-deductible and made to the community pool. If 6 months pass and you have not used the TOCA Cares fund for hardship, you have the option to donate your personal employee contribution to a charity of your choice or apply for a greater grant amount from the fund if you are personally involved in the charity/event.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->



      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q9H">What does it mean to sponsor a charity of my choice?</h5>
          <p class="color-dark-grey mb-0" id ="Q9P">
            Because the TOCA Cares fund is a community fund, we want all employees to be involved, regardless of whether or not they have an unexpected hardship. If you have not drawn from the fund in the 6 month period, you will have the option to sponsor a charity of your choice. If personally involved in the charity, you can direct not only your personal employee contribution to the charity but also apply for a larger grant sum. TOCA will also sponsor service club membership fees, fund employee designed events like an inner city soccer tournament, etc. Be creative! See the Charitable Sponsorship page for more information.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q10H">Which situations qualify to receive money from the fund?</h5>
          <p class="color-dark-grey mb-0" id ="Q10P">
            The point of the fund is to help employees in serious financial disruptive events. Examples include medical costs, car accidents, home accidents, pet insurance, an airplane ticket for event you can’t miss, funeral expenses, etc. If you’re not sure, it doesn’t hurt to apply. If the situation does not qualify or exceeds the maximum grant amount, you could be offered a small loan.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q11H">Are there situations that don’t qualify to receive money from the fund?</h5>
          <p class="color-dark-grey mb-0" id ="Q11P">
            If used correctly, most unexpected hardship applications will receive funding. Situations that don’t qualify include funding for vacations, repeated incidents (such as the 5th broken phone), luxury items, new pets, etc. If the situation exceeds the maximum grant amount, you could be offered a small loan. If the situation substantially exceeds the funds capabilities, such as extreme medical expenses, a home fire, etc., an employee crowdfunding platform can be established on the employee’s behalf.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q12H">Can I take out a loan instead of receiving money?</h5>
          <p class="color-dark-grey mb-0" id ="Q12P">
            If the situation exceeds the maximum grant amount, you may be offered a small loan. Or, if you’re more comfortable with receiving a loan rather than grant, then indicate on your application. Loans will be deducted from your paycheck over a period of time.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q13H">How long do I have to request financial assistance?</h5>
          <p class="color-dark-grey mb-0" id ="Q13P">
            The TOCA Cares Fund is suppose to help in the event of a hardship that can be hard to move past. The process is fairly quick and pays your bill. Because of this, if it’s a serious event, it’s expected you apply fairly quickly. That said, please try to apply no later than 30 days.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q14H">How fast is money available from the fund?</h5>
          <p class="color-dark-grey mb-0" id ="Q14P">
            Depending on the need, money is available at different speeds. Typically, your bill can be paid within 3-4 days. It also depends on how fast you work with our partner organization, Helping Hands.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q15H">Is there a max amount I can receive?</h5>
          <p class="color-dark-grey mb-0" id ="Q15P">
            <em>Typical grant amounts range from $500-$1,500.</em> Depending on the situation (especially if it exceeds this amount), you offer may include part of a grant and part of a loan. If your needs drastically exceed our loan amounts, then TOCA may set up an employee crowdfunding platform on your behalf and publicize it to TOCA employees across the nation. TOCA Cares is here to work with you to meet your needs.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q16H">How many times can I use the fund?</h5>
          <p class="color-dark-grey mb-0" id ="Q16P">
            Unless abusing the fund, you may apply multiple times. However, after a certain amount of times, your request may be denied depending on the committee’s decision.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q17H">How often do I donate to the fund?</h5>
          <p class="color-dark-grey mb-0" id ="Q17P">
            There will be a minimum donation requirement of $5/month and then you will have an option to donate more as frequently as you desire. All donations are made through paycheck deductions.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-green"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q18H">Can I apply for the fund on another employee’s behalf?</h5>
          <p class="color-dark-grey mb-0" id ="Q18P">
            Yes! If you know one of your coworkers are struggling, you can fill out the application and indicate why you’re applying.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q19H">Who makes the decision on my application?</h5>
          <p class="color-dark-grey mb-0" id ="Q19P">
            The national Decision Committee, comprised of employees from various districts, are given criteria to determine if your situation qualifies.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q20H">Can I apply to be on the Decision Committee?</h5>
          <p class="color-dark-grey mb-0" id ="Q20P">
            Yes! The community will be alerted every rotation period and employees can self-nominate to be on the committee. Spots are limited and members will be chosen through a lottery system.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q21H">Are my donations to the fund tax deductible?</h5>
          <p class="color-dark-grey mb-0" id ="Q21P">
            Yes! As long as you itemize your deductions.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q22H">How long is the period until we have the option to make charitable donations?</h5>
          <p class="color-dark-grey mb-0" id ="Q22P">
            Every 6 months, if you have not drawn from the fund, you will have the option to pursue your charitable endeavors! With that said, you can also wait a year. After that, your contributions will reset.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q23H">How do I report where the fund money went?</h5>
          <p class="color-dark-grey mb-0" id ="Q23P">
            Our partnering charity, Helping Hands, will be responsible for collecting receipts and paying your bills. In terms of charity work, we’re excited for TOCA employees to share their charitable endeavors with the community on Workplace.
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->




      <div class="row mb-3"> <!-- individual question -->
        <div class="col-1">
          <i class="fas fa-question fa-lg color-toca-red"></i>
        </div> <!-- Grid column -->

        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3" id="Q24H">Wait, there are benefits under our insurance?</h5>
          <p class="color-dark-grey mb-0" id ="Q24P">
            Yes! Note, this is completely separate from the TOCA Cares community fund. Depending on your need, you can be connected to a counselor, mediator, clinician, lawyer, or financial advisor. As part of your benefits, WorkLife services are available at no extra cost and are completely confidential. Either call 866-402-0003 or log on to <a href="https://wwwliveandworkwell.com" target="_blank">liveandworkwell.com</a> (access code: Insperity).
          </p>
        </div> <!-- Grid column -->
      </div> <!--Grid row-->






    </section> <!-- Features Section 1 -->

  </div> <!-- container -->
</main>




<%= content_for :additional_js do %>
  <script>
    $(document).ready(function() {
      $('#A1H').click(function() {
        $('#Q1P').toggle("down");
      });
    });
  </script>
<% end %>
