<main class="mt-5">
  <div class="container">

    <h1 class="text-center">Testimonials</h1>

    <section class="team-section magazine-section text-center">
      <p class="dark-grey-text w-responsive mx-auto">
        Read what others say about the program and share your thoughts of how grants have helped you.  This section is to let you know your contributions make a difference and to show you how others are using the program to improve their lives.  The program is confidential, but the impact on the group&nbsp;is&nbsp;tangible.
      </p>

    <div class="text-center mb-5">
      <%= link_to "Submit a Testimonial", page_path(:apply), class: "btn btn-secondary" %>
    </div> <!-- center for button -->
  </div> <!-- container -->




  <hr>



  <div class="container-fluid px-5 py-5">
    <div class="row text-center">

      <div class="col-lg-4 mb-md-0 mb-5"> <!-- hardship -->

        <div class="testimonial">
          <div class="row">
            <div class="col-sm-4 col-lg-12">
              <div class="avatar mx-auto mb-3">
                <%= image_tag "hardship.jpg", class: "z-depth-1 img-fluid",  style: "max-width: 100%", alt: "Young man bent over a broken-down car." %>
              </div> <!-- avatar -->
            </div> <!-- column -->
            <div class="col-sm-8 col-lg-12 text-left">
              <h6 class="font-weight-bold color-black toca-uppercase mt-3">Hardship:  Legal Assistance</h6>
              <p class="dark-grey-text">
                <i class="fas fa-quote-left pr-2 color-toca-red"></i>
                When TOCA offered assistance to me during a very rough period in my life, I not only had the peace of mind that I was going to be ok and would get past this, but it also gave me the comfort of knowing that TOCA had my back; they were there to pick me up and help me move forward. I am blessed to work for a company that feels like a second family to me.
                <i class="fas fa-quote-right pl-2 color-toca-red"></i>
              </p>
            </div> <!-- column -->
          </div> <!-- row -->
        </div> <!-- testimonial -->

      </div> <!-- end hardship -->




      <div class="col-lg-4 mb-md-0 mb-5"> <!-- scholarship -->
        <div class="testimonial">
            <div class="row">
              <div class="col-sm-4 col-lg-12">
                <div class="avatar mx-auto mb-3">
                  <%= image_tag "scholarship.jpg", class: "z-depth-1 img-fluid",  style: "max-width: 100%", alt: "Young woman graduating from college." %>
                </div>
              </div> <!-- col -->
              <div class="col-sm-8 col-lg-12 text-left">
                <h6 class="font-weight-bold color-black toca-uppercase mt-3">Scholarship:  Example 1</h6>
                <p class="dark-grey-text">
                  <i class="fas fa-quote-left pr-2 color-toca-red"></i>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.
                  <i class="fas fa-quote-right pl-2 color-toca-red"></i>
                </p>
              </div> <!-- col -->
            </div> <!-- row -->
          </div> <!-- testimonial -->

        </div> <!--  scholarship  -->




        <div class="col-lg-4 mb-md-0 mb-5"> <!-- charity -->

          <div class="testimonial">
            <div class="row">
              <div class="col-sm-4 col-lg-12">
                <div class="avatar mx-auto mb-3">
                  <%= image_tag "charity.jpg", class: "z-depth-1 img-fluid",  style: "max-width: 100%", alt: "Young man building houses for charity." %>
                </div> <!-- avatar -->
              </div> <!-- column -->
              <div class="col-sm-8 col-lg-12 text-left">
                <h6 class="font-weight-bold color-black toca-uppercase mt-3">Charity: Community Support</h6>
                <p class="dark-grey-text">
                  <i class="fas fa-quote-left pr-2 color-toca-red"></i>
                  I always thought charity was something rich, older people did with their extra money and time. It wasn’t until I started to volunteer and get involved with helping others, did I understand the value and how good it made me feel to support my community.
                  <!--
                  Until I started working with the Special Olympics, I didn't understand the value for me and my community of charitable work.
                  -->
                  <i class="fas fa-quote-right pl-2 color-toca-red"></i>
                </p>
              </div> <!-- column -->
            </div> <!-- row -->
          </div> <!-- testimonial -->

        </div> <!--  end charity  -->



      </div> <!--Grid row-->

    </section> <!-- Section: Testimonials v.3 -->


   </div> <!-- container -->
 </main>
