<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <hr style="border: 0; border-top: solid 2px #EB0029;" />
    <h1 style="text-align: center">A New Testimonial was Just Submitted on TOCA Cares</h1>
    <hr style="border: 0; border-top: solid 2px #EB0029; margin-bottom: 25px" />
    <p>
      As an admin, you have the power to approve submitted testimonials and choose to feature them on the website.
      <br>Here's what was just submitted:
    </p>
    <p>
      <strong><%= @testimonial.category %>:  <%= @testimonial.title %></strong>
    </p>
    <p>
      <em><%= @testimonial.body %></em>
    </p>
    <p>
      To approve or feature this new testimonial, sign into your TOCA Cares account and visit the <%= link_to "manage testimonials", home_testimonials_url, style: "color: #EB0029; font-weight: 700; text-decoration: none" %> page.
    </p>
    <p>
      If you have any issues, feel free to email us at <a href="mailto:support@tocacares.com" style="color: #EB0029; font-weight: 700; text-decoration: none">support@tocacares.com</a>.
    </p>
    <hr style="border: 0; border-top: solid 2px #EB0029; margin-top: 25px" />
    <img src="https://tocacares.s3-us-west-1.amazonaws.com/TOCA_CARES_LOGO_FNL.png" style="width: 300px; display: block; margin-right: auto; margin-left: auto">
    <hr style="border: 0; border-top: solid 2px #EB0029;" />
  </body>

</html>
