<main class="mt-5">
  <div class="container">

    <h1 class="text-center mb-4">Apply to Fund a Charitable Activity</h1>

    <%= render 'form', charity: @charity %>

  </div> <!-- container -->
</main>
