<main class="mt-5">
  <div class="container">

    <h1 class="text-center">Apply to Fund a Charitable Activity</h1>

    <section class="team-section magazine-section text-center">
      <p class="dark-color-dark-grey w-responsive mx-auto">
        Service to others is the rent you pay for your room here on earth.
        <br><em><small>―Mohammed Ali</small></em>
      </p>
    </section>

    <hr>

    <%= render 'form', charity: @charity %>

  </div> <!-- container -->
</main>
