<main class="mt-5">
  <div class="container">

    <h1 class="text-center">Complete Your Hardship Application</h1>

    <%= render 'form', hardship: @hardship %>

    <%= link_to 'Show', @hardship %> |
    <%= link_to 'Back', hardships_path %>

  </div> <!-- container -->
</main>
