<main class="mt-5">
  <div class="container">

    <h1 class="text-center mb-3">Complete Your Hardship Application</h1>

    <%= render 'form', hardship: @hardship %>

  </div> <!-- container -->
</main>
