<main class="mt-5">
  <div class="container">

    <h1 class="text-center">Apply for a Hardship</h1>

    <section class="team-section magazine-section text-center">
      <p class="dark-color-dark-grey w-responsive mx-auto">
        I get by with a little help from my friends.
        <br><em><small>―Paul McCartney/John Lennon</small></em>
      </p>
    </section>

    <hr>

    <%= render 'form', hardship: @hardship %>

  </div> <!-- container -->
</main>
