/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';
 @import 'mdb/mdb';
 @import 'font-awesome';
 @import 'font_awesome5_webfont';
 @import 'font_awesome5.css';



/*-----------------------------
-------------------------------
------------COLORS-------------
-------------------------------
-------------------------------
-----------------------------*/

$color-toca-red: #EB0029 !important;
$color-dark-red: #780E0F !important;
$color-toca-green: #CDDC29 !important;
$color-dark-grey: #58595B !important;
$color-light-grey: #D1D3D4 !important;
$transparent-white: rgba(255, 255, 255, .3);
$transparent-red: rgba(235, 0, 41, .7);
$transparent-green: rgba(205, 220, 41, .7);

.color-toca-red { color: $color-toca-red; }
.color-dark-red { color: $color-dark-red; }
.color-toca-green { color: $color-toca-green; }
.color-dark-grey { color: $color-dark-grey; }
.color-light-grey { color: $color-light-grey; }
.color-black { color: black !important; }
.color-white { color: white !important; }

.bg-toca-red { background-color: $color-toca-red; }
.bg-dark-red { background-color: $color-dark-red; }
.bg-toca-green { background-color: $color-toca-green; }
.bg-dark-grey { background-color: $color-dark-grey; }
.bg-light-grey { background-color: $color-light-grey; }
.bg-black { background-color: black !important; }
.bg-white { background-color: white !important; }
.bg-transparent-white { background-color: $transparent-white; }






/*-----------------------------
-------------------------------
-------------FONTS-------------
-------------------------------
-------------------------------
-----------------------------*/

h1 {
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.1em;
  font-size: 3em;
}

.toca-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

p a,
td a,
li a {
  color: $color-toca-red;
  font-weight: bold;
}

.bold, strong { font-weight: bold; }
.not-bold { font-weight: 400; }
.thin { font-weight: 200; }

/* MOBILE FONTS */
@media (max-width: 900px) {
  h1 { font-size: 2em; }
  .faq .h1 { font-size: 1.5em; }
}

/* LARGE SCREEN FONTS */
@media (min-width: 1200px) {
  h1 { font-size: 3.5em; }
  p, li { font-size: 1.5rem; font-weight: 300 !important; }
  .card .card-body .card-text { font-size: 1.2rem; font-weight: 300; }
}






/*-----------------------------
-------------------------------
------------DESIGN-------------
-------------------------------
-------------------------------
-----------------------------*/

html { scroll-behavior: smooth; }

.buffer { width: 100%; height: 50px; }
.half-buffer { width: 100%; height: 25px; }

.non-footer { min-height: calc(100vh - 122px) }

.btn-primary  { background-color: $color-toca-red; }
.btn-secondary  { background-color: $color-toca-green; color: black !important; }
.btn-light { background-color: $color-light-grey; }

* { border-radius: 0px !important; }

form.button_to {
  display: inline;
}

.not-button {
  border: none;
  background-color: transparent;
  color: $color-toca-red;
  font-weight: bold;
  display: inline;
  margin: 0;
  padding: 0;
}

img { max-width: 100%; }

.startHidden { display: none; }

.thin-white-box { border: thin white solid; }

.link-cursor { cursor: pointer; }
.linkish {
  cursor: pointer;
  color: $color-toca-red;
  font-weight: 700;
}

.alert { margin-bottom: 0px; }
.alert-success { color: $color-dark-grey; background-color: $transparent-green; border-color: $transparent-green;}
.alert-warning, .alert-danger { color: $color-dark-grey; background-color: $transparent-red; border-color: $transparent-red;}

.notification-bubble {
  padding: 5px 10px 5px 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: white;
  font-weight: 900;
  display: inline-block;
  height: 40px;
  width: 40px;
  border: solid thin $color-toca-red;
  border-radius: 50% !important;
  margin-right: 10px;
}

.ball-mini {
  height: 100px;
}

.ball-character {
  height: 150px;
}







/*-----------------------------
-------------------------------
------------NAVBAR-------------
-------------------------------
-------------------------------
-----------------------------*/

.header {
  z-index: 100 !important;
}

.nav-item {
  color: black;
  padding-left: 15px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.navbar .nav-item:hover .nav-link {
  color: $color-toca-red;
}









/*-----------------------------
-------------------------------
-----------PAGINATION----------
-------------------------------
-------------------------------
-----------------------------*/

.pagination {
  justify-content: center;
}

.pagination li {
  padding: 5px 10px;
  text-align: center;
}

.pagination li:hover {
  background-color: $color-light-grey;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.pagination li.active {
  background-color: $color-toca-red;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.pagination li.active a {
  color: white !important;
}






/*-----------------------------
-------------------------------
----------MDB Overrides--------
-------------------------------
-------------------------------
-----------------------------*/

span.error, div.error_notification {
  color: $color-toca-red;
  font-weight: 900;
}

.form-check-input[type="checkbox"]:checked + label:before, label.btn input[type="checkbox"]:checked + label:before {
  border-right: 2px solid $color-toca-red;
  border-bottom: 2px solid $color-toca-red;
}


.md-form label {
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
    font-size: 0.8rem;
  }

.colorful-select .dropdown-content li.active span {
  display: none !important;
}

.colorful-select .dropdown-content li span {
  color: $color-toca-red;
}

.select-wrapper input.select-dropdown {
  margin-top: -30px;
}
