/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';
 @import 'mdb/mdb';
 @import 'font-awesome';
 @import 'font_awesome5_webfont';
 @import 'font_awesome5.css';



/*-----------------------------
-------------------------------
------------COLORS-------------
-------------------------------
-------------------------------
-----------------------------*/

$color-toca-red: #EB0029 !important;
$color-dark-red: #780E0F !important;
$color-toca-green: #CDDC29 !important;
$color-dark-grey: #58595B !important;
$color-light-grey: #D1D3D4 !important;

.color-toca-red { color: $color-toca-red; }
.color-dark-red { color: $color-dark-red; }
.color-toca-green { color: $color-toca-green; }
.color-dark-grey { color: $color-dark-grey; }
.color-light-grey { color: $color-light-grey; }
.color-black { color: black !important; }
.color-white { color: white !important; }

.bg-toca-red { background-color: $color-toca-red; }
.bg-dark-red { background-color: $color-dark-red; }
.bg-toca-green { background-color: $color-toca-green; }
.bg-dark-grey { background-color: $color-dark-grey; }
.bg-light-grey { background-color: $color-light-grey; }
.bg-black { background-color: black !important; }
.bg-white { background-color: white !important; }






/*-----------------------------
-------------------------------
-------------FONTS-------------
-------------------------------
-------------------------------
-----------------------------*/

h1 {
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.1em;
  font-size: 3em;
}

.toca-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

p a,
td a {
  color: $color-toca-red;
  font-weight: bold;
}

.bold, strong { font-weight: bold; }
.not-bold { font-weight: 400; }
.thin { font-weight: 200; }





/*-----------------------------
-------------------------------
------------DESIGN-------------
-------------------------------
-------------------------------
-----------------------------*/

.buffer { width: 100%; height: 50px; }
.half-buffer { width: 100%; height: 25px; }

.non-footer { min-height: calc(100vh - 122px) }

.btn-primary  { background-color: $color-toca-red; }
.btn-secondary  { background-color: $color-toca-green; color: black !important; }
.btn-light { background-color: $color-light-grey; }

* { border-radius: 0px !important; }

form.button_to {
  display: inline;
}

.not-button {
  border: none;
  background-color: transparent;
  color: $color-toca-red;
  font-weight: bold;
  display: inline;
  margin: 0;
  padding: 0;
}

img { max-width: 100%; }

.startHidden { display: none; }

.thin-white-box { border: thin white solid; }




/*-----------------------------
-------------------------------
------------NAVBAR-------------
-------------------------------
-------------------------------
-----------------------------*/

.header {
  z-index: 100 !important;
}

.nav-item {
  color: black;
  padding-left: 15px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.navbar .nav-item:hover .nav-link {
  color: $color-toca-red;
}









/*-----------------------------
-------------------------------
----------MDB Overrides--------
-------------------------------
-------------------------------
-----------------------------*/

.form-check-input[type="checkbox"]:checked + label:before, label.btn input[type="checkbox"]:checked + label:before {
  border-right: 2px solid $color-toca-red;
  border-bottom: 2px solid $color-toca-red;
}
