<main class="mt-5">
  <div class="container">

    <h1 class="text-center">Submit a Testimonial</h1>

    <section class="team-section magazine-section text-center">
      <p class="dark-color-dark-grey w-responsive mx-auto">
        Gratitude is a powerful catalyst for happiness.
        <br><em><small>―Amy Collette</small></em>
      </p>
    </section>

    <%= render 'form', testimonial: @testimonial %>

  </div> <!-- container -->
</main>
