<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <hr style="border: 0; border-top: solid 2px #EB0029;" />
    <h1 style="text-align: center">Your TOCA Cares Scholarship Application Needs Modifications</h1>
    <hr style="border: 0; border-top: solid 2px #EB0029; margin-bottom: 25px" />
    <p>
      Dear <%= @application.full_name %>,
    </p>
    <p>
      Thank you for your application. After careful consideration, it has been decided that one or more details of your application need adjustment. We recognize your genuine need and we request you see below for details from the Decision Committee on what modifications have been suggested for your application:
    </p>
    <% vote = Vote.where(application_type: "AppForm", application_id: @application.id, seconded: true).first %>
    <p>
      Here are the modifications requested:
      <ul>
          <li><%= vote.modification %></li>
        <% if vote.suggest_loan %>
          <li>Loan Suggested: <%= vote.describe_loan %></li>
        <% end %>
      </ul>
    </p>
    <p>
      At this point you should log in to <%= link_to "view your application", scholarship_url(@application.id), style: "color: #EB0029; font-weight: 700; text-decoration: none" %> on TOCA Cares and take one of the following actions:
      <ul>
        <li>Accept the terms and modifications suggested for your application.  This will move your application status to "approved" and you will be contacted by our partnering organization, Helping Hands, who will reach out to you and request additional information about your financial situation to verify you receive the appropriate amount from TOCA Cares.</li>
        <li>If you have questions, you can message a TOCA Cares administrator directly from your application to get answers.</li>
        <li>If you don't want to agree to the modifications, you can edit your application as you see fit and reapply.</li>
      </ul>
    </p>
    <p>
      We hope you take advantage of this opportunity, and we look forward to assisting a valuable employee like you.
    </p>
    <p>
      Sincerely,
      <br>TOCA Cares
    </p>
    <p>
      If you have any issues, feel free to email us at <a href="mailto:admin@tocacares.com" style="color: #EB0029; font-weight: 700; text-decoration: none">admin@tocacares.com</a>.
    </p>
    <hr style="border: 0; border-top: solid 2px #EB0029; margin-top: 25px" />
    <img src="https://tocacares.s3-us-west-1.amazonaws.com/TOCA_CARES_LOGO_FNL.png" style="width: 300px; display: block; margin-right: auto; margin-left: auto">
    <hr style="border: 0; border-top: solid 2px #EB0029;" />
  </body>

</html>
