<footer class="page-footer text-center font-small bg-toca-green">

    <!--Call to action-->
    <!-- <div class="pt-4">
      <a class="btn btn-outline-white" href="https://mdbootstrap.com/docs/jquery/getting-started/download/" target="_blank"
        role="button">Download MDB
        <i class="fas fa-download ml-2"></i>
      </a>
      <a class="btn btn-outline-white" href="https://mdbootstrap.com/education/bootstrap/" target="_blank" role="button">Start
        free tutorial
        <i class="fas fa-graduation-cap ml-2"></i>
      </a>
    </div> -->
    <!--/.Call to action-->

    <!-- <hr class="my-4"> -->

    <div class="py-4 color-black">
      <span style="font-weight: 700">
        <%= link_to "Create a New Account", new_user_registration_path %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "Login to My Account", new_user_session_path %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://tocafootball.com/" target="_blank">TOCA Football</a>
      </span>
    </div>

    <!--Copyright-->
    <div class="footer-copyright bg-black py-3">
      © <%= Date.today.year %> Copyright TOCA Football
    </div>
    <!--/.Copyright-->

</footer>
